<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings"
            type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="offerte_creator.Properties.Settings"
                type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089"
                allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2"/>
    </startup>
    <userSettings>
        <offerte_creator.Properties.Settings>
            <setting name="Eenheid_Data" serializeAs="String">
                <value> |st|m2|m3|Uren</value>
            </setting>
            <setting name="CompanyName" serializeAs="String">
                <value>Bedrijfsnaam</value>
            </setting>
            <setting name="OfferteNumber" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="CompanyAdres" serializeAs="String">
                <value />
            </setting>
            <setting name="CompanyZipcode" serializeAs="String">
                <value />
            </setting>
            <setting name="CompanyKvK" serializeAs="String">
                <value />
            </setting>
            <setting name="CompanyBTW" serializeAs="String">
                <value />
            </setting>
            <setting name="CompanyBank" serializeAs="String">
                <value />
            </setting>
            <setting name="CompanyPhone" serializeAs="String">
                <value />
            </setting>
            <setting name="CompanyEmail" serializeAs="String">
                <value />
            </setting>
            <setting name="CompanyTown" serializeAs="String">
                <value />
            </setting>
            <setting name="LicentiePlugins" serializeAs="String">
                <value />
            </setting>
            <setting name="LicentieCode" serializeAs="String">
                <value />
            </setting>
        </offerte_creator.Properties.Settings>
    </userSettings>
    <runtime>
        <loadFromRemoteSources enabled="true" />
        <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
        </assemblyBinding>
    </runtime>
</configuration>